# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info
*.tfvars
!terraform.tfvars.example
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
